<!DOCTYPE html>

<html>

<head>

<title>Client Information</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>



<body>



<nav class="navbar">


<div class="logo">

InvoiceFlow

</div>


</nav>







<div class="page">






<!-- Steps -->


<div class="steps">


<div>
Supplier
</div>


<div class="active">
Client
</div>


<div>
Config
</div>


<div>
Items
</div>


<div>
Preview
</div>


</div>









<div class="form-card">



<h2>
Client Information
</h2>


<p style="color:#aaa">

Enter customer details for invoice

</p>







<form method="POST">







<div class="grid">







<div>


<label>

Client / Company Name *

</label>


<input

type="text"

name="name"

required

placeholder="Enter client name">


</div>










<div>


<label>

Email *

</label>


<input

type="email"

name="email"

required

placeholder="example@gmail.com">


</div>









<div>


<label>

Phone Number *

</label>


<input

type="tel"

name="phone"

pattern="[0-9]{10}"

required

placeholder="10 digit mobile number">


</div>










<div>


<label>

State *

</label>


<input

type="text"

name="state"

required

placeholder="Enter state">


</div>









<div>


<label>

Pin Code *

</label>


<input

type="text"

name="pin"

pattern="[0-9]{6}"

required

placeholder="6 digit pin code">


</div>








</div>









<label>

Address *

</label>


<textarea

name="address"

required

placeholder="Enter client address">

</textarea>













<div class="default-box">


<h3>

Client Information

</h3>



<p>

Use this client details only for this invoice

</p>





<label class="simple-option">


<input

type="radio"

checked>


Yes, continue with this client


</label>





<label class="simple-option">


<input

type="radio">


No, clear details


</label>







</div>









<button class="next">


Continue to Config


</button>







</form>






</div>







</div>






</body>


</html>