<!DOCTYPE html>

<html>

<head>

<title>Invoice Configuration</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>


<body>


<nav class="navbar">

<div class="logo">
InvoiceFlow
</div>

</nav>





<div class="page">





<div class="steps">


<div>
Supplier
</div>


<div>
Client
</div>


<div class="active">
Config
</div>


<div>
Items
</div>


<div>
Preview
</div>


</div>









<div class="form-card">



<h2>
Invoice Configuration
</h2>



<p>
Configure invoice settings
</p>






<form method="POST">







<div class="gst-check">


<label class="simple-option">


<input 
type="checkbox"
name="gst"
value="yes"
onclick="toggleGST()">



Enable GST


</label>



</div>









<div class="grid">







<div>


<label>

Invoice Number *

</label>


<input

type="text"

name="invoice"

id="invoice"

readonly>


</div>










<div>


<label>

Invoice Date *

</label>


<input

type="date"

name="date"

required>


</div>






</div>









<label>

Place of Supply *

</label>


<input

type="text"

name="place"

placeholder="Enter state"

required>









<label>

Payment Terms

</label>


<input

type="text"

name="payment"

placeholder="e.g. Net 30 days">











<div id="gstBox"

class="default-box"

style="display:none;">





<h3>

GST Type

</h3>




<label class="simple-option">


<input

type="radio"

name="tax"

value="CGST+SGST"

checked>


CGST + SGST


</label>





<label class="simple-option">


<input

type="radio"

name="tax"

value="IGST">


IGST


</label>






</div>









<div>


<button type="button">

Back

</button>



<button class="next">

Next

</button>


</div>






</form>







</div>






</div>









<script>




// automatic invoice number


let number =
Math.floor(Math.random()*9000)+1000;


let year =
new Date().getFullYear();



document.getElementById("invoice").value =
"INV-"+year+"-"+number;








function toggleGST(){


let box =
document.getElementById("gstBox");



if(box.style.display==="none"){

box.style.display="block";

}

else{

box.style.display="none";

}



}




</script>





</body>

</html>