<!DOCTYPE html>

<html>

<head>


<title>Items</title>


<link rel="stylesheet" href="/static/css/style.css">


</head>




<body>




<nav class="navbar">


<div class="logo">

InvoiceFlow

</div>


</nav>








<div class="page">







<div class="steps">



<div>
Supplier
</div>



<div>
Client
</div>



<div>
Config
</div>



<div class="active">
Items
</div>



<div>
Preview
</div>



</div>









<div class="form-card">






<h2>

Items / Services

</h2>



<p style="color:#aaa">

Add products or services

</p>









<form method="POST">





<input

type="hidden"

id="itemsData"

name="items">







<div class="table-box">







<div class="item-head">


<span>
Description
</span>


<span>
Qty
</span>


<span>
Price
</span>


<span>
Discount
</span>


<span>
GST %
</span>


<span>
Total
</span>


<span>
</span>



</div>









<div id="items">






<div class="item-row">





<input

class="desc"

placeholder="Item name">






<input

class="qty"

type="number"

value="1">






<input

class="price"

type="number"

value="0">






<input

class="discount"

type="number"

value="0">






<input

class="tax"

type="number"

value="18">







<span class="amount">

₹0

</span>






<button

type="button"

class="delete"

onclick="removeItem(this)">

×

</button>







</div>






</div>








</div>









<button

type="button"

class="add-btn"

onclick="addItem()">



+ Add Item



</button>












<div class="summary">





<p>

Subtotal :

<span id="subtotal">

₹0

</span>


</p>






<p>

GST :

<span id="gst">

₹0

</span>


</p>






<h2>


Total :

<span id="total">

₹0

</span>


</h2>






</div>










<button

class="next"

onclick="saveItems()">



Continue to Preview



</button>







</form>










</div>








</div>









<script>




function addItem(){



let box =
document.getElementById("items");



let row =
document.createElement("div");



row.className="item-row";



row.innerHTML=`



<input class="desc"
placeholder="Item name">



<input class="qty"
type="number"
value="1">



<input class="price"
type="number"
value="0">



<input class="discount"
type="number"
value="0">



<input class="tax"
type="number"
value="18">



<span class="amount">
₹0
</span>




<button

type="button"

class="delete"

onclick="removeItem(this)">

×

</button>


`;



box.appendChild(row);


calculate();


}









function removeItem(btn){


btn.parentElement.remove();


calculate();


}









function calculate(){



let subtotal=0;

let gst=0;






document.querySelectorAll(".item-row")
.forEach(row=>{





let qty =
Number(row.querySelector(".qty").value) || 0;




let price =
Number(row.querySelector(".price").value) || 0;





let discount =
Number(row.querySelector(".discount").value) || 0;





let tax =
Number(row.querySelector(".tax").value) || 0;







let amount =
(qty * price) - discount;






let taxAmount =
amount * tax / 100;







subtotal += amount;


gst += taxAmount;






row.querySelector(".amount")
.innerHTML =
"₹"+(amount+taxAmount);





});








document.getElementById("subtotal")
.innerHTML =
"₹"+subtotal;




document.getElementById("gst")
.innerHTML =
"₹"+gst;





document.getElementById("total")
.innerHTML =
"₹"+(subtotal+gst);







}











function saveItems(){





let data=[];






document.querySelectorAll(".item-row")
.forEach(row=>{







data.push({



description:
row.querySelector(".desc").value,



qty:
Number(row.querySelector(".qty").value),



price:
Number(row.querySelector(".price").value),



discount:
Number(row.querySelector(".discount").value),



tax:
Number(row.querySelector(".tax").value)



});






});







document.getElementById("itemsData")
.value =
JSON.stringify(data);







}










document.addEventListener(
"input",
calculate
);




calculate();




</script>








</body>

</html>